*  {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

body {
    color: #000;
    min-height: 100vh;
    width: 100%;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}